#header {
  background-color: darkred;
  height: 50px;
}

p.h1 {
  font-size: 30px;
  color: white;
  float: left;
  margin: 10px;
}

p.login {
  font-size: 15px;
  color: white;
  float: right;
  margin: 20px;
  text-decoration: underline;
}

div.header2 {
  background-color: dimgray;
  height: 50px;
}

p.navigation {
  color: white;
  float: right;
  text-decoration: underline;
  margin: 15px;
}

#column1 {
  float: left;
  width: 70%;
  padding: 10px;
}

#column2 {
  float: right;
  width: 25%;
  padding: 10px;
}

img {
  width: 100%;
  margin:0px 0px 40px;
}

h3 {
  font-size: 35px;
  margin: 0px 0px 20px;
}

div {
  font-size: 15px;
  width: 100%;
}

h4 {
  font-size: 25px;
}

div.footer {
  clear: both;
  background-color: dimgray;
  height: 100px;
  position: relative;
  bottom: 0px;
}

p.footer {
  color: white;
  padding: 25px;
}
